<div class="content">
  <h1>Basic Example</h1>
  <p>
    This is a basic example of <code>injectQuery()</code>, it will fetch the specified todo from the API.
  </p>
  <p>
    To see the result changing, open the <b>devtools</b> in the <b>bottom-right</b> corner, from there you can
    trigger a refetch of the query, invalidate it or even trigger the loading and error state.
    Feel free to play around with it.
  </p>

  <h3>Signal Result</h3>
  <blockquote>
    @if (todos();as result) { @if (result.isLoading) {
      <span class="loader"></span>
    } @if (result.isSuccess) {
      <p>{{ result.data[0].title }}</p>
    } @if (result.isError) {
      <p>Error</p>
    } }
  </blockquote>

  <h3>Observable Result</h3>

  <blockquote>
    @if (todosResult.result$ | async;as result) { @if (result.isLoading) {
      <span class="loader"></span>
    } @if (result.isSuccess) {
      <p>{{ result.data[0].title }}</p>
    } @if (result.isError) {
      <p>Error</p>
    } }
  </blockquote>
</div>
