/* You can add global styles to this file, and also import other style files */
@import 'bulma';

body {
  background-color: #f2f6fa;
}

.container .columns {
  margin: 3rem 0;
}

.is-active-example {
  background-color: #b93eff !important;
  color: #fff !important;
}

.is-active-example:hover {
  background-color: #ae08e4 !important;
  color: #fff !important;
}

.is-primary-button {
  background-color: #ae08e4 !important;
  color: #fff !important;
}

.loader {
  @include loader;
}
