name: Deploy playground to GitHub pages
on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - name: Install and Build
        run: |
          npm i 
          npx nx build query-playground -- --base-href /query/
      - name: Duplicated index.html
        run: |
          cp dist/packages/query-playground/index.html dist/packages/query-playground/404.html
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './dist/packages/query-playground'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
